<script type="text/template" id="task-card-modal-template">
    <div class="modal fade task-card" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header"></div> -->
                <div class="modal-body">
                    <!-- Bootstrap info alert -->
                    <div class="alerts-cont"></div>
                    <div class="task-card-top container">
                        <div class="task-picture-cont col-md-2">
                            <img class='task-card-image' src="<%= app.url %>images/pictures.png" />
                        </div>
                        <div class="task-general-info-cont col-md-4">
                            <div class="task-message-cont"><%= message %></div>
                            <div class="task-message-edit" style="display:none">
                                <% if (createMode == false) { %>
                                    <div class="cancel-edit-icon-cont">
                                        <img class="cancel-edit-icon" src = "<%= app.url %>images/cancel_edit_icon.png" />
                                    </div>
                                <% } %>
                                <textarea maxlength="100"><%= message %></textarea>
                            </div>
                            <div class="task-info-icons">
                                <div class="category-label task-info-icon"
                                     category-id="1"
                                     category-color="red"
                                     title="Category">
                                    Homework
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-card-middle">
                        <div class="task-description-cont">
                            <%if (description!=undefined && description != null && description != "") { %>
                            <%= description %>
                            <% } else { %>
                            <div class="task-empty-description">
                                <div class="plus-desc">+</div><div class="add-desc">&nbsp;Add description</div>
                                <div class="clear"></div>
                            </div>
                            <% } %>
                        </div>
                        <div class="task-description-edit" style="display:none">
                            <div class="cancel-edit-icon-cont">
                                <img class="cancel-edit-icon" src = "<%= app.url %>images/cancel_edit_icon.png" />
                            </div>
                            <textarea maxlength="5000"><%= description %></textarea>
                        </div>
                        <div class="task-conditions-cont"></div>
                        <div class="condition-type-selector-cont"></div>
                        <div id="addConditionBtnCont">
                            <button type="button" id = "addConditionBtn" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> <span class="addConditionBtnLable">Add condition</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="save-changes-btn" class="btn btn-primary" style="display: none">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</script>