<script type="text/template" id="task-card-modal-template">
    <div class="modal fade task-card" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header"></div> -->
                <div class="modal-body">
                    <!-- Bootstrap info alert -->
                    <div class="alerts-cont"></div>
                    <div class="task-card-top container">
                        <div id="taskPictureCont" class="task-picture-cont col-md-2"></div>
                        <div class="task-general-info-cont col-md-4">
                            <div id="messageCont"></div>
                            <div class="task-info-icons">
                                <div class="task-status-lbl"></div>
                                <div class="category-label task-info-icon"
                                     category-id="1"
                                     category-color="red"
                                     title="Category">
                                    Category
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div id="pictureUploaderCont" class="picture-picker-block panel panel-default panel-collapse collapse"></div>
                    <div class="task-card-middle">
                        <div id="taskDescriptionCont"></div>
                        <div id="taskConditionsPanel"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="save-changes-btn" class="btn btn-primary" style="display: none">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</script>