<script type="text/template" id="task-time-condition-template">
    <div class="task-condition time-condition" condition-id="">
        <div class="condition-row">
            <div class="delete-condition-cont">
                <img class="delete-condition-icon" src = "<%= app.url %>images/delete_icon_100.png" />
            </div>
            <div class="condition-event time-event">
                <%= event.getEventInfo() %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="condition-collapse collapse">
            <div class="well">
                <div class="datetimepicker"></div>
            </div>
        </div>
    </div>
</script>