<script type="text/template" id="task-condition-template">
    <div class="task-condition" condition-id="1">
        <div class="condition-row">
            <% if (typeof(GPS) !== "undefined" && GPS != null) { %>
            <div class="condition-event gps-event">
                <%= GPS.getEventInfo() %>
            </div>
            <% } %>
        </div>
        <div class="clear"></div>
        <div class="condition-collapse collapse">
            <div class="well">
                <div class="google-map">
                    map
                </div>
            </div>
        </div>
    </div>
</script>