<script type="text/template" id="task-card-description-template">
    <div class="descriptionCont">
        <%if (description!=undefined && description != null && description != "") { %>
            <%= description %>
        <% } else { %>
            <div class="task-empty-description">
                <div class="plus-desc">+</div><div class="add-desc">&nbsp;Add description</div>
                <div class="clear"></div>
            </div>
        <% } %>
    </div>
    <div class="task-description-edit" style="display:none">
        <div class="cancel-edit-icon-cont">
            <img class="cancel-edit-icon" src = "<%= app.url %>images/cancel_edit_icon.png" />
        </div>
        <textarea maxlength="5000"><%= description %></textarea>
    </div>
</script>

