<script type="text/template" id="task-card-uploader-template">
    <div class="picture-picker-left col-md-3">
        <div class="picture-placeholder">Picture  is not selected</div>
        <div class="picture-preview-cont" style="display: none;">
            <img id="picture-preview" src="" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="upload-btn-cont">
            <form action="/" method="post" id="uploadTaskPicture" name="upload_picture" enctype="multipart/form-data">
                <input type="file" name="pictureUploadBtn" id="pictureUploadBtn">
            </form>
        </div>
        <div class="download-ref-cont">
            <input id="downloadRefInput" placeholder="Enter image url"/>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </div>
        <div class="buttons-cont">
            <button type="button" id="cancelPictureBtn" class="btn btn-default">Cancel</button>
            <button type="button" id="savePictureBtn" class="btn btn-primary disabled">Save</button>
        </div>
    </div>
    <div class="clear"></div>
</script>