<!-- Template of Main Panel -->
<script type="text/template" id="task-panel-template">
    <div style="display: none;" id="user-not-logged-block">
        <div>
            <span>You must sign in to Brain Assistant's website to continue. Use your google account!</span>
        </div>
        <div class="singInBtnCont">
            <button type="button" id="signinButtonCenter" class="btn btn-primary google-signin-btn">Sign in (with your Google Account)</button>
        </div>
        <div class="aboutCont">
            <a href="">About project</a>
        </div>

    </div>
</script>