<!-- Template of Main Panel -->
<script type="text/template" id="task-panel-template">
    <div class="col-md-3">
        <div class="task-tile tile-lightgree">
            <div class="task-tile-top">
                <img class="task-picture" src="images/pictures.png">
                </div>
                <div class="task-message">
                    A reminding message about task
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="task-tile tile-lightgree">
            </div>
        </div>
        <div class="col-md-3">
            <div class="task-tile tile-lightgree">
            </div>
        </div>
        <div class="col-md-3">
            <div class="task-tile tile-lightgree">
            </div>
        </div>
        <div class="col-md-3">
            <div class="task-tile tile-lightgree">
            </div>
        </div>
</script>