<script type="text/template" id="condition-type-selector-template">
<div class="condition-type-selector">
    <button class="add-gps-event"><strong>+</strong> GPS</button>
    <div class="add-gps-event-cont" style="display: none;">
        <div class="list-of-events">
            <input type="radio" name="location" value="current" checked>&nbsp;Current location<br>
        </div>
        <div class="add-button-bottom">
            <button class="gps-event-ready" type="button">Add</button>
        </div>
    </div>
</div>
</script>

