html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* Global */
.clear {
    clear: both;
    float: none;
}

/* Task's Panel */
#user-not-logged-block {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 450px;
    font-size: 24px;
    background-color: #FFCCCC;
}
#user-not-logged-block .singInBtnCont {
    margin-top: 12px;
}
#user-not-logged-block .aboutCont {
    margin-top: 12px;
    font-size: 18px;
}

.task-tile, .add-new-task-tile {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    margin: 15px;
}

.tile-lightgree {
    background-color: lightgreen;
    color: dimgray;
    opacity: 0.75;
}

.tile-lightgree:hover {
    background-color: lightgreen;
    color: black;
    opacity: 1;
}

.task-tile .task-picture {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    margin: 5px;
}

.add-new-task-tile {
    text-align: center;
    height: 250px;
    line-height: 250px;
}

.add-new-task-picture {
    min-width: 50%;
    max-width: 50%;
    min-height: 50%;
    max-height: 50%;
    margin: 5px;
}

.task-tile .task-tile-top {
    min-height: 130px;
}

.task-tile .task-message {
    margin: 5px;
    font-size: 22px;
    text-align: center;
}

.delete-img-cont {
    position: absolute;
    top: 20px;
    left: 250px;
    cursor: pointer;
    opacity: 0.6;
}

.delete-img-cont:hover {
    opacity: 1;
}

.delete-img-cont img {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}


/* Task's card */
.task-card .task-card-top .task-card-image {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    width: auto;
}
.task-tile-image-cont {
    padding: 4px;
    padding-top: 20px;
    text-align: center;
}

.task-tile-image-cont img{
    max-width: 175px;
    max-height: 175px;
    width: auto;
    height: auto;
}


.task-card-top {
    margin-top: 10px;
}

.task-card-middle {
    width: 570px;
}
.task-message-cont {
    font-style: italic;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: lightcyan;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 3px;
}

.task-message-cont:hover {
    cursor: pointer;
    opacity: 0.7;
}

.task-message-edit textarea {
    width: 100%;
}


.cancel-edit-icon-cont {
    text-align: right;
}

.task-description-edit {

}

.task-description-edit textarea {
    width: 100%;
    min-height: 200px;
}

.cancel-edit-icon {
    position: relative;
    top: 18px;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.task-info-icon {
    float: left;
}

[category-color=red] {
    background-color: red;
    font-style: italic;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
}
.task-description-cont {
    margin-bottom: 20px;
    border: solid 1px white;
    margin-top: 20px;
}

.task-description-cont:hover {
    cursor: pointer;
    border: solid 1px black;
    background-color: cornsilk;
    opacity: 0.7;
}
.task-empty-description{
    font-style: italic;
    height: 30px;
    line-height: 30px;
}
.task-empty-description .plus-desc,
.task-condition .plus-condition {
    font-weight: bold;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.task-empty-description .add-desc,
.task-condition .add-condition {
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px;
    float: left;
    font-style: italic;
    margin-left: 10px;
}
.task-condition .add-condition {
}
.empty-condition {
    line-height: 30px;
}
.empty-condition:hover {
    opacity:0.7;
}
.task-conditions-cont .google-map {
    min-width: 530px;
    max-width: 530px;
    min-height: 400px;
    max-height: 400px;
}

.task-condition {
    border-radius: 2px;
    border: 1px solid gainsboro;
    background-color: lightyellow;
    padding: 5px;
    cursor: pointer;
}

.condition-event {
    float: left;
}

.condition-event:hover {
    text-decoration: underline;
}

.condition-event.gps-event {
    background-image: url("../images/gps-icon.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 20px;
}

.condition-event.gps-event span {
    font-weight: bold;
}

.add-button-bottom {
    text-align: right;
}

#navbar.google-sign-btn a {
    display: none;
}

#navbar.google-sign-btn {
    line-height: 50px;
}

#navbar.google-sign-btn button {
    cursor: pointer;
}

.task-card #addConditionBtnCont {
    text-align: center;
    margin-top: 20px;
}

.task-card #addConditionBtn span.addConditionBtnLable {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.condition-type-selector.panel {
    padding: 10px;
    text-align: center;
}

.add-gps-event {
    font-weight: bold;
    padding-left: 20px;
    background-color: lightyellow;
    background-image: url("../images/gps-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    width: 120px;
}

.add-time-event {
    font-weight: bold;
    padding-left: 20px;
    background-color: #5bc0de;
    background-image: url("../images/ic_alarm_on_white_48dp_2x.png");
    background-size: 24px;
    background-position: left;
    background-repeat: no-repeat;
    width: 120px;
}

.condition-type-selector-cont {
    margin-top: 10px;

}

.condition-type-selector {
    background-color: #EAEAEA;
}

.condition-type-selector .cancel-add-condition-cont {
    text-align: right;
    height: 8px;
}

.cancel-add-condition-cont .cancel-condition-icon {
    position: relative;
    top: -10px;
    margin-right: -6px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* Conditions rows */
.task-condition {
    margin-top: 5px;
    margin-bottom: 5px;
}

.condition-event {
    margin-bottom: 4px;
}

.delete-condition-cont {
    text-align: right;
    height: 5px;
}

.delete-condition-cont .delete-condition-icon {
    width: 15px;
    height: 15px;
    position: relative;
    top: -5px;
}
/* Location Event */
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
    z-index: 10000;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}


/* TIME Event */
.task-condition.time-condition {
    background-color: #5bc0de;
}
.condition-event.time-event {
    background-image: url("../images/ic_alarm_on_white_48dp_2x.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: white;
}

/* Picture Picker */

.picture-picker-block {
    padding: 6px;
    margin: 6px;
}

.picture-picker-left {
    text-align: center;
}

#picture-preview {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}
.upload-btn-cont {
    margin-top: 12px;
}

.download-ref-cont {
    margin-top: 12px;
    width: 100%;
}

.download-ref-cont input {
    width: 95%;
}


.picture-picker-block .buttons-cont {
    margin-top: 12px;
    text-align: right;
}

.picture-placeholder{
   margin-top: 20px;
}

.task-picture-cont {
    cursor: pointer;
}
.change-picture-btn {
    display: none;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 40%;
}

.change-picture-btn .inner{
    position: relative;
    background-color: #222222;
    color: white;
    opacity: 0.5;
    left: -40%;
    padding: 5px;
}

.change-picture-btn .inner:hover {
    opacity: 0.9;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.thumbsDownCont {
    text-align: center;
}

.thumbsDownCont span {
    font-size: 50px
}